{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="nav">
        <h2>TEST STORE</h2>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="links">
                <a href="{{ path('app_logout') }}">Выйти</a>
                <a href="{{ path('categories') }}">Категории товаров</a><br>
                <a href="{{ path('products') }}">Все товары</a><br>
                <a href="{{ path('manufacturers') }}">Бренды</a>
            </div>
        {% else %}
            <div class="links">
                <a href="{{ path('app_login') }}">Войти</a>
                <a href="{{ path('app_register') }}">Регистрация</a>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <h3 style="font-size: 30px; margin-left: 30px">КАТЕГОРИИ</h3>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="categories">
                {% for category in categories %}
                    <div class="cat_item">
                        <div class="imgbox">
                            <img src="{{ category.image }}" alt="">
                        </div>
                        <h2><a href="#">{{ category.name }}</a></h2>
                    </div>
                {% endfor %}
            </div>
            <h3 style="font-size: 30px; margin-left: 30px">БРЕНДЫ</h3>
            <div class="categories">
                {% for manufacturer in brands %}
                    <div class="cat_item">
                        <div class="imgbox">
                            <img src="{{ manufacturer.image }}" alt="">
                        </div>
                        <h2><a href="#">{{ manufacturer.name }}</a></h2>
                    </div>
                {% endfor %}
            </div>


            <h3 style="font-size: 30px; margin-left: 30px">ПРОДУКТЫ</h3>
            <div class="categories">
                {% for product in products %}
                    <div class="cat_item">
                        <h2><a href="#">{{ product.name }}</a></h2>
                        <h2><a href="#">{{ product.price }} сом</a></h2>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}
